@media screen and (max-width: 500px) {
nav ul {
    display: flex;
}
.gridcontainer{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    color: #39375B;

}
main
{ 
    grid-template-columns: 1fr
}
nav ul li {
    flex: 1 1 100%;
}

}
