header {
    text-align: center;
    padding: 1rem;
    background-color: #39375B ;
    color: #daa520;
    font-weight: bolder;
}
nav {
    background-color: #39375B;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1rem 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    display: block;
    color:#daa520;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover{
    border: 5px solid #daa520;
}
.active{
    color: #ae759f;
}
main {
    max-width: 1400px;
    margin: 0;
    padding: 1rem;   
}
h2 {
    text-align: center;
    color: #39375B;
    padding: 1rem;
    font-size: medium;
}
.gridcontainer{
    display: grid;
    border: 3px solid #39375B;
    text-align: center;
    color: #39375B;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
}
figcaption{
    margin-top: 6px;
    font-weight: bold;
}
footer{
    text-align: center;
    color: #daa520;
    padding: 1rem;
    background-color: #39375B;
}
