@media screen and (min-width: 720px) {
    h1 {
        font-size: 4vw;
    }

    .child-main {
        position: relative; 
    }

    .child-main section {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.85); 
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5); 
        padding: 1rem;
        border-radius: 8px; 
    }

    .data-section {
        top: 2rem;
        left: 2rem;
        z-index: 2; 
    }

    .weather-section {
        bottom: 2rem;
        right: 2rem;
        z-index: 1; 
    }

    section h2 {
        text-align: left;
        background-color: darkgreen;
        color: white;
        padding: 1rem;
        margin: 0; 
        border-bottom: 4px solid var(--compliment-color); 
    }

    .weather-section img {
        display: none; 
    }

    .weather-section h2::after {
        content: "⛅";
        margin-left: 0.5rem; 
    }}