body {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    text-align: center;
    border: 3px solid #f0df80;
    padding: 1rem;
    background-color: #877bef
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section{
    padding: 1rem;
    background-color: white;
    border: 7px solid #877bef;
    outline: 3px solid #f0df80;
    text-align: center;
    text-decoration: #877bef;
}