body {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1.5px solid #e7d98c;
    padding: 1.5rem;
    background-color: #100c32
}
h1,h2{
    color:aliceblue;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section{
    padding: 1.5rem;
    background-color: azure;
}
footer{
    color: aliceblue;
}